[project]
	description = Google Go language IDE built using the Intellij Platform. Released both an integrated IDE and as a standalone Intellij IDEA plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mihai Claudiu Toader (mtoader)
[access "refs/for/refs/*"]
	read = group user/Mihai Claudiu Toader (mtoader)
	push = group user/Mihai Claudiu Toader (mtoader)
	label-Code-Review = -2..+2 group user/Mihai Claudiu Toader (mtoader)
	label-Verified = -1..+1 group user/Mihai Claudiu Toader (mtoader)
	rebase = group user/Mihai Claudiu Toader (mtoader)
	removeReviewer = group user/Mihai Claudiu Toader (mtoader)
	submit = group user/Mihai Claudiu Toader (mtoader)
[access "refs/heads/*"]
	read = group user/Mihai Claudiu Toader (mtoader)
	create = group user/Mihai Claudiu Toader (mtoader)
	push = +force group user/Mihai Claudiu Toader (mtoader)
	pushMerge = group user/Mihai Claudiu Toader (mtoader)
[access "refs/tags/*"]
	push = +force group user/Mihai Claudiu Toader (mtoader)
	pushTag = group user/Mihai Claudiu Toader (mtoader)
	pushSignedTag = group user/Mihai Claudiu Toader (mtoader)
